.admin__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100vh;

  &--sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.6);
  }

  &--editor {
    width: 100%;
  }
}
