// Custom.scss

@import "~bootswatch/dist/materia/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

h1 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #eee;
}

button.btn.btn-primary {
  background: #903b4b;
}

body,
html {
  height: 100%;
  /* The image used */
  // background-image: url("../components/images/soccer-wallpaper-1920x1200-hd-f-WTG200617757.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a.nav-link.active {
  background: #903b4b !important;
  border-radius: 0.25rem;
}

div.mt-5.col-md-6.offset-md-3 {
  background-color: #ced4da;
  border-radius: 1rem;
  padding: 1rem;
}

div.voorspellingen.container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
